#page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}
.post-col-1 { width: 8.33333333%; }
.post-col-2 { width: 16.6666666%; }
.post-col-3 { width: 25%; }
.post-col-4 { width: 33.3333333%; }
.post-col-5 { width: 41.66666667%; }
.post-col-6 { width: 50%; }
.post-col-7 { width: 58.33333333%; }
.post-col-8 { width: 66.66666667%; }
.post-col-9 { width: 75%; }
.post-col-10 { width: 83.33333333%; }
.post-col-11 { width: 91.66666667%; }
.post-col-12 { width: 100%; }
.post-col-1,
.post-col-2,
.post-col-3,
.post-col-4,
.post-col-5,
.post-col-6,
.post-col-7,
.post-col-8,
.post-col-9,
.post-col-10,
.post-col-11 { 
	float: left; 
	@include breakpoint(phone) { 
		width: 100%; 
		float: none;
	}
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
[class*="post-col-"] {
  padding-right: 15px;
  padding-left: 15px;
}
.post-col-no-margin { padding: 0; }
.post-bottom-30 { margin-bottom: 30px; }
.post-bottom-60 { margin-bottom: 60px; }
.post-bottom-90 { margin-bottom: 90px; }
.post-bottom-100 { margin-bottom: 100px; }